.container{
    padding: 0.6rem 9.5rem 0.6rem 9.5rem;
}

.lyricPost{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.lyrics{
    border: 1px solid var(--grey);
    background-color: black;
    color: white;
    margin-top: 0.8rem;
    padding: var(--padding);
}

.lyricPost img{
    width: 3rem; margin: 0 auto 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 640px){
    .container{
        padding: 0;
    }
}