.galleryItem{
    max-width: 9.5rem;
}

.content_text_img .mouseoverTxt{
    color: var(--grey);
    font-style: italic;
}

.qzResult{
    display: flex;
    justify-content: center;
}

.qzResult img{
    max-width: 100%;
}
